body{font-family: 'Montserrat',sans-serif;background-color: #EFEBE0;margin: 0;color: #000;overflow-x: hidden;}
body.hide-scroll{overflow: hidden;max-height: 100vh;}
h1,h2,h3,h4,h5{margin: 0;}
h1 {font-size: 100px;text-transform: uppercase;color: #000;text-align: center;}
h3 {font-size: 40px;text-align: center;text-transform: uppercase;}
ul {list-style: none;padding: 0;}
a{text-decoration: none;}
.line {height: 100%;width: 20px;background-color: #f79518;}
.hide {display: none;}
.covid-hide {opacity: 0;position: absolute;z-index: -1000;width: 100%;height: 20px;overflow: hidden;}
.question {position: absolute;z-index: 1;background-color: #EFEBE0;}
.section-3,.section-5,.section-1{height: 100vh;}
.main{display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100vh;position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;overflow: hidden;background-color: #EFEBE0;}
.name-covid{color: #ffca04;}
.main .menu-covid{margin-top: 50px;}
.menu-covid li{display: inline-block;margin: 0 10px;}
.menu-covid li a, .game-start {text-decoration: none;font-size: 50px;text-transform: capitalize;background-color: #000;padding: 6pt 36pt;border-radius: 40px;font-weight: bold;cursor: pointer;color: #fff;}
.menu-covid li a:hover, .game-start:hover{background-color: #f79518;color: #fff;}

.covid-virus {height:80vh;width: 100%;position: relative;display: flex;flex-direction: column;justify-content: center;align-items: center;}
.section-1 .covid-virus .virus{width: 250px;webkit-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear;margin-top:-10vh;}
.box,.box-slider{position: absolute;background-color: #f79518;border-radius: 20px;max-width: 40vh;padding: 8pt 14pt;font-weight: 300;color: #fff;}
.box-1 {left: 10vw;top: 5vh;}
.box-2 {right: 10vw;top: 5vh;}
.box-3 {left: 10vw;bottom: 15vh;}
.box-4 {right: 10vw;bottom:15vh}
.box-5 {bottom: 10px;}
.slider-virus {width: 100vw;}
.box-mobile {background-color: #f79518;border-radius: 20px;padding: 8pt 14pt;font-weight: 300;color: #fff;margin: 20pt 10vw 0;max-width: 90vw;height: 100%;}

.human-covid {display: flex;width: 50%;justify-content: center;}
.box-slider {position: unset;}

.slider-covid {width: 50%;color: #f79518;}
.slider-covid {-webkit-appearance: none;margin: 18px 0;width: 50%;}
.slider-covid:focus {outline: none;}
.slider-covid::-webkit-slider-runnable-track {width: 50%;height: 8.4px;cursor: pointer;animate: 0.2s;box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;background: #fff;border-radius: 1.3px;border: 0.2px solid #010101;}
.slider-covid::-webkit-slider-thumb {height: 36px;width: 36px;background: #f79518;cursor: pointer;-webkit-appearance: none;margin-top: -14px;}
.slider-covid:focus::-webkit-slider-runnable-track {background: #fff;}
.slider-covid::-moz-range-track {width: 50%;height: 8.4px;cursor: pointer;animate: 0.2s;box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;background: #fff;border-radius: 1.3px;border: 0.2px solid #010101;}
.slider-covid::-moz-range-thumb {height: 36px;width: 36px;border-radius: 3px;background: #f79518;cursor: pointer;}
.slider-covid::-ms-track {width: 50%;height: 8.4px;cursor: pointer;animate: 0.2s;background: transparent;border-color: transparent;border-width: 16px 0;color: transparent;}
.slider-covid::-ms-fill-lower {background: #fff;border: 0.2px solid #010101;border-radius: 2.6px;box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;}
.slider-covid::-ms-fill-upper {background: #fff;border: 0.2px solid #010101;border-radius: 2.6px;box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;}
.slider-covid::-ms-thumb {height: 36px;width: 36px;border-radius: 3px;background: #f79518;cursor: pointer;}
.slider-covid:focus::-ms-fill-lower {background: #fff;}
.slider-covid:focus::-ms-fill-upper {background: #fff;}

.human-covid li {display: flex;flex-direction: column;margin: 0 50px;opacity: 0.3;}
.human-covid li.active {opacity: 1;} 
.human-covid li span{text-align: center;font-size: 25px;font-weight: bold;opacity: 0;}
.human-covid li span.active{opacity: 1;}
.human-covid li img{width: 150px;}
.human-covid li.box-slider-list{margin: 0;opacity: 0;}
.human-covid li.box-slider-list.active{opacity: 1;}

.transmisi{display: unset;}
.content-slider-atasi ul,.transmisi-content ul{display: flex;padding: 50pt;}
.content-slider-atasi ul li,.transmisi-content ul li{margin: 30px;font-weight: bold;}
p.padding{padding: 0 50pt;}
.single-content{padding: 50pt;}
.single-content img.transmisi {width: 300px;margin: 0 auto;}
.single-content p {font-size: 25px;font-weight: bold;}
img.transmisi {width: 150px;margin: 0 auto;}

.section-5 {display: flex;flex-direction: column;justify-content: center;overflow: hidden;}
.game {height: auto;}
.game p {text-align: center;padding: 20pt;font-size: 30px;font-weight: bold;}
.start-section{z-index: 3;}
.hide-mobile {display: block;}
.hide-desktop {display: none;}

/*indonesia corona */
.highcharts-background {fill:#EFEBE0 !important}
.col-sm-12{width: 100%;float: left;}
hr{margin:10px 20pt}
.chart-container,.corona-container{position: relative;}
.form-left{display: flex;flex-direction: column;padding-right: 15pt;align-items: flex-end;font-size: 20px;}
.form-left select{font-family: 'Montserrat',sans-serif;font-size: 20px;}
.count-covid{display: grid;grid-template-areas:'main main main';padding: 20pt;}
.col-4{padding: 15pt 10pt;}
.col-4 h3{text-align: center;color: #fff;background: #fff;margin-bottom: 20px;padding: 10px 0;}
.count{font-size: 70pt;text-align: center;font-weight: bolder;background-color: #f79518;}
h3.positif{color: #ffc904;}
h3.sembuh{color: #36aa01;}
h3.mati{color: #fe0a0a;}
.contain-maps{position: relative;}
.tooltip{position: absolute;padding: 8pt;z-index: 10;width: fit-content;margin: auto;background-color: #f79518;font-family: 'Montserrat',sans-serif;top: 100px;visibility:hidden;color: #fff;}
.tooltip h4 {margin: 5px auto;font-weight: bold;}
.tooltip h4.kasus{border-bottom: 10px solid #fff;}
.container p.source{padding-left:15pt;position: absolute;left: 0;bottom: 0;}
.legends{padding: 15pt;font-weight: bolder;position: absolute;right: 0;bottom: 0;}
.legends li {margin: 10px auto;text-transform: uppercase;text-shadow: 1px 1px #000;}
.legend{padding: 1px 10px ;margin-right: 2px;border: 1px solid #000;}
.container p {padding: 0 25%;}

footer{font-size: 1rem;font-weight: 400;line-height: 1.5;text-align: left;box-sizing: border-box;display: block;position: relative;z-index: 0;margin: 100px 0 0}
.row {display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;padding-right: 100px;padding-left: 100px;}
.col-sm-6 {-webkit-box-flex: 0;-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
footer .credit p {font-size: 1em;letter-spacing: 0.6pt;margin: 0;line-height: 130%;}
footer .credit p i {font-style: normal;color: #000;display: block;margin: 0 0 4px;font-weight: bold;}
footer .line-area {position: absolute;top: 0;left: 50%;right: initial;bottom: initial;margin-left: -15px;}
footer .line-area .line {display: block;width: 30px;height: 1px;background-color: #f79518;}
footer .social-media{padding: 50px 0;text-align: center;}
footer .social-media h4, .related-article h4 {text-transform: uppercase;font-size: 1.6em;margin: 0 0 20px;letter-spacing: 1.2pt;line-height: 150%;}
footer .social-media ul li {vertical-align: middle;display: inline-block;margin: 0 8px;}
footer .social-media .bullet {display: block;color: #fff;background-color: #000;width: 40px;height: 40px;font-size: 1.6em;line-height: 40px;border-radius: 100%;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
footer .social-media ul li.facebook .bullet:hover {background-color: #5d82d1;color: #fff;}
footer .social-media ul li.twitter .bullet:hover {background-color: #40bff5;color: #fff;}
footer .social-media ul li.whatsapp .bullet:hover {background-color: #5CB100;color: #fff;}
footer .credit, .related-article {position: relative;padding: 50px 0 60px;text-align: center;}
footer .credit ul.flat li {position: relative;display: block;margin: 0 0 24px;}
footer .related-article .content-article {position: relative;padding: 10px;}
footer .related-article .content-article .cover-article {margin: 0 0 16px;display: block;width: 100%;height: 0;padding: 0 0 54.8%;background-position: center;background-repeat: no-repeat;background-size: cover;}
footer .related-article .content-article h6 {font-size: 0.9em;line-height: 150%;margin: 0;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
footer .related-article .row+.backto-box {margin: 50px 0 0;}
footer .backto-box {font-size: 0.9em;text-transform: uppercase;letter-spacing: 0.5pt;line-height: 100%;margin: 0;}
footer .link-to{color: #f79518;cursor: pointer;}
footer .link-to:hover{color: #D3412A;}
footer .backto-box a {color: #f79518;display: inline-block;border: 2px solid #f79518;display: inline-block;padding: 12px 16px 13px;border-radius: 10px;}
footer .backto-box a:hover {background-color: #f79518;color: #fff;}
footer .related-article .mouse-scroll.back-top {margin-top: 50px;}
footer .mouse-scroll.back-top {width: 120px;margin-left: -60px;display: block;position: relative;left: initial;right: initial;top: initial;bottom: initial;margin: 0 auto;}
footer .mouse-scroll {display: none;text-align: center;color: #f79518;font-size: 0.7em;cursor: pointer;padding-top: 60px;position: absolute;z-index: 1;top: initial;left: 50%;right: initial;bottom: 10px;width: 60px;margin-left: -30px;-webkit-transition: all 0.3s linear;transition: all 0.3s linear;}
footer .mouse-scroll .icon-arrow {position: absolute;top: initial;left: 50%;right: initial;bottom: 20px;width: 24px;height: 24px;margin-left: -12px;border-left: 3px solid #f79518;border-bottom: 3px solid #f79518;-webkit-transform: rotate(135deg);transform: rotate(135deg);-webkit-animation: back-top 1.5s infinite;animation: back-top 1.5s infinite;}
footer .mouse-scroll:hover{color: #D3412A}
footer .mouse-scroll:hover>.icon-arrow{border-left: 3px solid #D3412A;border-bottom: 3px solid #D3412A;}
.map-container{padding: 0 50pt;}
@media only screen and (max-width:1200px){
    h1 {font-size: 80px;}
    .section-3 {height: fit-content;}
    .box-2{top:15vh}
    .box-3{bottom:25vh}
    .box-5{bottom:5vh}
    .box-1,.box-3{left: 50px;}
    .box-2,.box-4{right: 50px;}
    .section-1 .covid-virus .virus {width: 300px;}
}

@media only screen and (max-width:800px){
    .hide-mobile {display: none;}
    .hide-desktop {display: block;}
    h1 {font-size: 60px;margin-top: 20pt;}
    .menu-covid li a,.game-start{font-size: 30px;}
    .box-1,.box-3{left: 10px;}
    .box-2,.box-4{right: 10px;}
    .box-4{bottom:100px}
    .box-5{bottom: 5px;}
    .human-covid{margin: 1em;width: 80%;}
    .slider-covid {width: 60%;}
    .slider-covid::-webkit-slider-runnable-track {width: 60%;}
    .slider-covid::-moz-range-track {width: 60%;}
    .slider-covid::-ms-track {width: 60%;}
    .content-slider-atasi ul li, .transmisi-content ul li{margin: 0;}
}

@media only screen and (max-width:650px){
    .box, .box-slider {max-width: 100%;background-color: rgb(247,149,24,0.8);font-size: 12px;}
    html{overflow-x: hidden;}
    h1 {font-size: 40px;}
    h3 {font-size: 20px;}
    .main .menu-covid{margin-top: 25px;}
    .main p.padding,p.padding.mobile {padding: 0 20px;}
    .menu-covid li a,.game-start{padding: 6pt 16pt;font-size: 20px;}
    .section-1 .covid-virus .virus {width: 200px;margin-top: 20pt;}
    .box-1,.box-2,.box-3,.box-4,.box-5{left: 10px;right: 10px;}
    .box-1{top: 0;}
    .box-2{top: 99px;}
    .box-3{top:235px}
    .box-4{top:372px}
    .box-3{bottom: unset;}
    .box-4{bottom: unset;}
    .human-covid{margin: 1em;}
    .human-covid li {margin: 0 auto;}
    .human-covid li img{width: 100px;}

    .slider-covid {width: 90%;}
    .slider-covid::-webkit-slider-runnable-track {width: 90%;}
    .slider-covid::-moz-range-track {width: 90%;}
    .slider-covid::-ms-track {width: 90%;}

    ul.box-box-slider {display: block;}
    .transmisi-content ul {padding: 20pt 6pt;}
    .content-slider-atasi, .single-content {padding: 20pt 40px;}
    .content-slider-atasi p,.single-content p {font-weight: unset;}
    .transmisi-content ul li{margin: 0 30px;font-weight: unset;font-size: 20px;}
    .transmisi-content.atasi ul li{font-size: 25px;}
    .content-slider-atasi ul li{font-weight: unset;font-size: 25px;}
    img.transmisi,.single-content img.transmisi {width: 200px;}
    p.padding{padding:0}

    .row {padding-left: 0;padding-right: 0;display: block;}
    .col-sm-6{position: relative;max-width: 100%;overflow: visible !important;}
    .count-covid {padding: 0;}
    .col-4 {padding: 5pt;}
    .col-4 h3 {font-size: 10pt;}
    .count {font-size: 20pt;padding: 10pt 0;}
    .container p {padding: 0 40px;}
    .container p.source {bottom: -15px;font-size: 10px;}
    .legends {bottom:-13vh;font-weight: 300;}
    .legends li {display: inline;font-size: 10px;}
    .legend{padding: 0px 5px;}
    .content-slider-atasi ul, .transmisi-content ul.atasi{
        flex-direction: column;padding: 0;
    }
    .map-container{padding: 0;}
    .tooltip{position: fixed;top: unset !important;left: 0 !important;bottom: 0 ;right: 0 ;width: 100%;}
}

@media only screen and (max-width:380px){
    h1 {font-size: 30px;}
    .box{font-size: 12px;}
    .box-2{top: 70px;}
    .box-3{top:185px}
    .box-4{top:285px}
    .menu-covid li {display: list-item;margin: 2em auto;text-align: center;}
    .menu-covid li a,.game-start{padding: 6pt 16pt;font-size: 25px;}
    .single-content p {font-weight: unset;font-size: unset;}
    .game p{font-size: 20px;}
}

@media only screen and (max-width:320px){
    h1 {font-size: 45px;}
    .box-1,.box-2,.box-3,.box-4,.box-5{left: 0;right: 0;}
    .human-covid {margin: 0 1em;}
    .human-covid li img{width: 80px;}
    .human-covid li span{font-size: 20px;}
    .box-slider {padding: 5pt 15pt;border-radius: 20px;font-size: 12px;}
}

@-webkit-keyframes back-top{0%{-webkit-transform:rotate(135deg) translate(0, 0);opacity:0}50%{opacity:1}100%{-webkit-transform:rotate(135deg) translate(-20px, 20px);opacity:0}}@keyframes back-top{0%{-webkit-transform:rotate(135deg) translate(0, 0);transform:rotate(135deg) translate(0, 0);opacity:0}50%{opacity:1}100%{-webkit-transform:rotate(135deg) translate(-20px, 20px);transform:rotate(135deg) translate(-20px, 20px);opacity:0}}